<!-- app/templates/contracts/milestone_form.html -->
{% extends "layout.html" %}

{% block title %}Registrar hito{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Registrar Nuevo HITO</h4>
            </div>
            <div class="card-body">
                <form method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.title.label(class="form-label") }}
                        {{ form.title(class="form-control") }}
                        {% for error in form.title.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.description.label(class="form-label") }}
                        {{ form.description(class="form-control") }}
                        {% for error in form.description.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.due_date.label(class="form-label") }}
                        {{ form.due_date(class="form-control", maxlength="8") }}
                        {% for error in form.due_date.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="d-grid">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
            <p>Verificar los detalles del contrato <a href="{{ url_for('contracts.view_contract', id=contract.id) }}">Contrato: #{{ contract.title }}</a></p>
    </div>
</div>
{% endblock %}